<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <%= render 'shared/flash_messages' %>
    </div>  
</div>
<br />
<%= render 'users/user'%>

<div class="col-md-8">
<%= will_paginate %>
<table class = "table table-bordered table-striped" width="100%">

  <thead>
    <tr>
      <th>Id</th>
      <th>Owner</th>
      <th>Filename</th>
      <th>Shared with</th>
      <th>Keywords</th>
      <th>Hash value</th>
      <th colspan="5">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @file_uploads.each do |file_upload| %>
      <% @keywords = Keyword.where(:file_upload_id => file_upload.id).limit(3) %>
      <tr>
        <td><%= file_upload.id %></td>
        <td><%= file_upload.owner %></td>
        <td><%= AES.decrypt(file_upload.fname, ENV['encrypt_hash']) %></td>
        <!--Showing selected users-->
        <td>
        <% if file_upload.shared_with=="Selected Users" %>
        <% @shared = SharedUser.where(:file_upload_id => file_upload.id)%>
        <% @shared.each do |shared| %>
          <%@name = User.find(shared.user_id) %>
          <%=@name.first_name %><%end%><%else%><%= file_upload.shared_with %><%end%></td>
       
        <td><% @keywords.each do |keyword| %>
              <%= keyword.key %> 
              <% end %>
        </td>
        <td><%= file_upload.hash_val %></td>
        
        <td><%= link_to user_file_upload_decrypt_path(current_user,file_upload), class: "btn btn-success" ,:id => '5',:title => 'Download File', :rel => 'tooltip' do%>
        <i class="glyphicon glyphicon-save"></i><%end%></td>
        
        <td><%= link_to edit_user_file_upload_path(current_user,file_upload), class: "btn btn-warning",:id => '5',:title => 'Edit File Info', :rel => 'tooltip' do %><i class="glyphicon glyphicon-pencil"></i><%end%></td>
        
           
        <td><%= link_to user_file_upload_send_hash_path(current_user,file_upload), class: "btn btn-default",:id => '5',:title => 'Send hash', :rel => 'tooltip' do %><i class="glyphicon glyphicon-send"></i><%end%></td>
        
        <td><%= link_to user_file_upload_audit_path(current_user,file_upload), class: "btn btn-info",:id => '5',:title => 'Request Audit', :rel => 'tooltip' do %><i class="glyphicon glyphicon-saved"></i><%end%></td>
        <td><%= link_to user_file_upload_path(current_user,file_upload), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' },:id => '5',:title => 'Delete File', :rel => 'tooltip' do %><i class="glyphicon glyphicon-trash"></i><%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>