
<%= render 'users/user'%>
<div class="col-sm-7">
<h2>Add new file</h2>
   <%= form_for [@user,@file_upload], html: { multipart: true } do |f| %>
      <%= f.label :Ownername %>
      <%= f.text_field :owner %>

      <%= f.label :filename %><br>
      <%= f.text_field :fname %>

      <%= f.label :filetype %><br>
      <%= f.text_field :ftype %>

      <label for="keywords">Keywords(comma separated)</label><br>
      <%= text_area_tag :keywords  %>    <br>

      <label for="shared_with">Who can see the file?</label>&nbsp;&nbsp;&nbsp;&nbsp;
      <%= radio_button :file_upload, :shared_with, "Public",:name=>:wanted,:id=>:choice1  %>&nbsp;&nbsp;&nbsp;&nbsp;<label>Public</label>&nbsp;&nbsp;&nbsp;&nbsp;
      
      <%= radio_button :file_upload,:shared_with, "Private",:name=>:wanted,:id=>:choice2  %>&nbsp;&nbsp;&nbsp;&nbsp;<label>Private</label>&nbsp;&nbsp;&nbsp;&nbsp;

      <%= radio_button :file_upload,:shared_with, "Selected Users" ,:name=>:wanted,:id=>:choice3 %>&nbsp;&nbsp;&nbsp;&nbsp;
      <label>Selected Users (List below)</label>&nbsp;&nbsp;&nbsp;&nbsp;
      
      <br><%= f.text_area_tag :shared_users,"Enter email id of users" , :id=>:div1%>
      <br><br>
      <%= f.label :Attachment %>
      <%= f.file_field :attachment %>
		      
     <br> 
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>
</div>


