<%= render 'users/user'%>
<div class="col-sm-10">
<p id="notice"><%= notice %></p>
<p>
  <strong>Fname:</strong>
  <%= AES.decrypt(@file_upload.fname, ENV['encrypt_hash']) %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @file_upload.owner %>
</p>

<p>
  <strong>File type:</strong>
  <%= @file_upload.ftype %>
</p>
<p>
  <strong>Shared with:</strong>
  <%= @file_upload.shared_with %>
</p>

<p>
  <strong>Keywords:</strong>
   <% @keywords.each do |keyword| %>
   <%= keyword.key %> 
   <% end %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @file_upload.attachment %>
</p>


<%= link_to 'Edit', edit_user_file_upload_path(@user,@file_upload) %> |
<%= link_to 'Back', user_file_uploads_path %>
</div>