<!DOCTYPE html>
<html>
<head>
    <title><%= @user.first_name.upcase %></title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="users.scss">
</head>
<body>
	<%= render 'user'%>
  <h3>&nbsp;&nbsp;&nbsp;Messages</h3>
<div class="col-sm-7">
            <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#tab1default" data-toggle="tab"> Audit Requests</a></li>
            <li><a href="#tab2default" data-toggle="tab"> Update Messages</a> </li>
            <li><a href="#tab3default" data-toggle="tab"> Audit Responses </a></li> 
            </ul>
        </div>
<div class="row">
    <div id="my-tab-content" class="tab-content">
    <div class="tab-pane fade in active" id="tab1default">
	<div class="col-md-5">
	<table class = "table table-bordered table-striped" width="0%">
  	<thead>
    <tr>
      <th>Status Code</th>
      <th>File Id</th>
    </tr>
  </thead>

  <tbody>
    <% @req.each do |req| %>
    <% if(req.status_code==503)%>
      <tr>
        <td><%= req.status_code %></td>
        <td><%= req.file_upload_id %></td>
      </tr>
    <% end %>
   <%end%>

  </tbody>
</table>
</div>
</div>

<div class="tab-pane fade" id="tab2default">
<div class="col-md-5">
<table class = "table table-bordered table-striped" width="0%">
  <thead>
    <tr>
      <th>Status Code</th>
      <th>File Id</th>
      <th>Hash value</th>
    </tr>
  </thead>

  <tbody>
    <% @req.each do |req| %>
    <% if(req.status_code==502)%>
      <tr>
        <td><%= req.status_code %></td>
        <td><%= req.file_upload_id %></td>
        <td><%= req.file_hash %></td>
      </tr>
    <% end %>
    <% end %>

  </tbody>
</table>
</div>
</div>
<div class="tab-pane fade" id="tab3default">
<div class="col-md-5">
<table class = "table table-bordered table-striped" width="0%">
  <thead>
    <tr>
      <th>Status Code</th>
      <th>File Id</th>
      <th>Response</th>
      
    </tr>
  </thead>

  <tbody>
    <% @req.each do |req| %>
    <% file_id=req.file_upload_id %>
    <% if(req.status_code==504)%>
      <tr>
        <td><%= req.status_code %></td>
        <td><%= req.file_upload_id %></td>
        <td><%= req.file_hash %></td>
        <td><% @file.each do |file_upload| %>
              <% if(file_upload.id==req.file_upload_id)%>
                <%= link_to file_upload.attachment_url, class: "btn btn-success" ,:id => '5',:title => 'Download File', :rel => 'tooltip' do%>
                  <i class="glyphicon glyphicon-save"></i><%end%>
              <% end %>
            <% end %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
</div>
</body>
</html>