<!DOCTYPE html>
<html>
<head>
    <title><%= @user.first_name.upcase %></title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Kranky">
    <link rel="stylesheet" href="users.scss">
</head>
<body>

<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <%= render 'shared/flash_messages' %>
    </div>    
</div> 
 
<%= render 'user'%>
<%= render 'user_info'%>


    <div class="col-md-8 col-sm-8 col-lg-8">     
        <div class="form-group has-feedback">
        <div class="search"><h1><span class="blue">Fuzzy</span>&nbsp;&nbsp;<span class="black">Search</span></h1><!--<span class='black'>S</span><span class='blue'>e</span><span class='black'>a</span><span class='blue'>r</span><span class='black'>c</span><span class='blue'>h</span></h1>--></div>
        <%= form_tag(fuzzy_fuzzy_search_path,:method => 'post',class: 'navbar-form', id: "search form") do %>
        
      <div class="search_again">
     <div class="input-group">
      <%= text_field_tag :search, params[:search], size:150, placeholder: "Fuzzy Keyword Search" %>
          <div class="input-group-btn">
          <%= hidden_field_tag :tab , @user.id %>

          <%= button_tag(type: "submit",class: "btn btn-custom") do %>
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i> </span>
         <% end %>
         </div>
        </div></div>
        <% end %>
        </div>
        </div>
    </div></div>
</body>
</html>