<!DOCTYPE html>
<html>
<head>
    <title><%= @user.first_name.upcase %></title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="users.scss">
</head>
<body>

<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <%= render 'shared/flash_messages' %>
    </div>    
</div> 
 
<%= render 'users/user'%>
    <div class="col-md-7 col-sm-7 col-lg-7">     
        <div class="form-group has-feedback">
        <%= form_tag(fuzzy_fuzzy_search_path,:method => 'post',class: 'navbar-form', id: "search-form") do %>
          <div class="input-group">
          <%= hidden_field_tag :tab , @user.id %>
          <%= text_field_tag :search, params[:search], size:50, placeholder: "Fuzzy Keyword Search(comma separated)", class: "form-control" %>
          <div class="input-group-btn">
          <%= button_tag(type: "submit", class: "btn btn-default") do %>
          <i class="glyphicon glyphicon-search"></i><% end %>
          </div>
          <% end %>
          </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
    <br>

    <table class = "table table-bordered table-striped">
      <thead>
      <tr>
          <th>Owner</th>
          <th>Filename</th>
          <th colspan="1"></th>
      </tr>
      </thead>

      <tbody>
        <% if (@file_recs) %>
          <% @file_recs.each do |file| %>
          <% @user = User.find_by_id(file.user_id) %>
          <tr>
            <td><%= @user.first_name + " " +@user.last_name  %></td>
            <td><%= AES.decrypt(file.fname, ENV['encrypt_hash']) %></td>
            <td><%= link_to user_file_upload_decrypt_path(current_user,file), class: "btn btn-success" ,:id => '5',:title => 'Download File', :rel => 'tooltip' do%>
             <i class="glyphicon glyphicon-save"></i><%end%></td>
          </tr>
          <%end %>
        <%end %>
      </tbody>
    </table>

</div>

</body>
</html>