<!DOCTYPE html>
<html>
<head>
    <title><%= @user.first_name.upcase %></title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="users.scss">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Kranky">
</head>
<body>

<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <%= render 'shared/flash_messages' %>
    </div>    
</div> 
 
<%= render 'users/user'%>
    <div class="col-md-7 col-sm-7 col-lg-7">   
    </div>
    <div class="col-md-7 col-sm-7 col-lg-7">     
        <div class="form-group has-feedback">
        <div class="search"><h1><span class="blue">Fuzzy</span>&nbsp;&nbsp;<span class="black">Search</span></h1></div>
        <%= form_tag(fuzzy_fuzzy_search_path,:method => 'post',class: 'navbar-form', id: "search-form") do %>
          <div class="input-group">
          <%= hidden_field_tag :tab , @user.id %>
          <%= text_field_tag :search, params[:search], size:50, placeholder: "Fuzzy Keyword Search" %>
          <div class="input-group-btn">
          <%= button_tag(type: "submit",class: "btn btn-custom") do %>
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i> </span>
         <% end %>
        </div></div>                                                                             
        <% end %>
        </div>
    </div>
<div class="col-lg-11 col-sm-15 col-md-7">
    <br><br>
    <% if (@max!=0) %>
      <div class="col-sm-10">
            <ul class="nav nav-tabs" data-tabs="tabs" name="wanted">
            <% if !(@pdf_count == 0) %>
            <li ><a href="#tab1default" data-toggle="tab">Pdfs <span class="badge"><%=@pdf_count %></span></a></li>
            <% else %>
            <li class="active"><a href="#tab1default" data-toggle="tab">Pdfs</a></li>
            <li><a href="#tab2default" data-toggle="tab"> Images </a> </li>
            <%end %>
            <% if !(@image_count == 0) %>
            <li><a href="#tab2default" data-toggle="tab"> Images <span class="badge"><%=@image_count %></span></a> </li>
            <% else %>
            <li><a href="#tab2default" data-toggle="tab">Images</a></li>
            <%end %>
             <% if !(@presentation_count == 0) %>
            <li><a href="#tab3default" data-toggle="tab"> Presentations <span class="badge"><%=@presentation_count %></span></a></li> 
            <% else %>
            <li><a href="#tab3default" data-toggle="tab"> Presentations </a></li> 
            <% end %>

            <% if !(@office_count == 0) %>
            <li><a href="#tab4default" data-toggle="tab">Docs <span class="badge"> <%=@office_count %></span> </a></li>   
            <% else %>
            <li><a href="#tab4default" data-toggle="tab">Docs</a></li> 
            <% end %>

            <% if !(@video_count == 0)%>
            <li><a href="#tab5default" data-toggle="tab"> Videos <span class="badge"> <%=@video_count %></span> </a></li> 
            <% else %>
            <li><a href="#tab5default" data-toggle="tab"> Videos </a></li> 
            <% end %>

            <% if !(@other_count == 0) %>
            <li><a href="#tab6default" data-toggle="tab"> Others <span class="badge"><%= @other_count%></span> </a></li>    
            <% else %>
            <li><a href="#tab6default" data-toggle="tab"> Others </a></li> 
            <% end %>

                    
            </ul>
      </div>
    <br><br>
    
    <div class="row">
    <div id="my-tab-content" class="tab-content">
    <div class="tab-pane fade" id="tab1default">
      <br><br>
      <div class="col-md-10">
        <table class = "table table-bordered table-striped" width="0%">
        <thead>
        <tr>
          <th>Owner</th>
          <th>Filename</th>
          <th colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        <% if (@file_recs) %>
          <% @file_recs.each do |file| %>
          <% @user = User.find_by_id(file.user_id) %>
          <% if(file.ftype=="pdf")%>
          <tr>
            <td><%= @user.first_name + " " +@user.last_name  %></td>
            <td><%= AES.decrypt(file.fname, ENV['encrypt_hash']) %></td>
            <td><%= link_to  fuzzy_audit_path(:file_upload_id => file.id,:user_id => current_user,:search => params[:search], :files => @file_ids), :method => 'post', class: "btn btn-info",:id => '5',:title => 'Request Audit', :rel => 'tooltip' do %><i class="glyphicon glyphicon-saved"></i><% end %></td>
            <td><%= link_to user_file_upload_decrypt_path(current_user,file), class: "btn btn-success" ,:id => '5',:title => 'Download File', :rel => 'tooltip' do%>
             <i class="glyphicon glyphicon-save"></i><%end%></td>
          </tr>
          <%end %>
        <%end %>  
        <%end %>
      </tbody>
    </table>
</div>
</div>
<div class="tab-pane fade" id="tab2default">
<br><br>
<div class="col-md-10">
<table class = "table table-bordered table-striped" width="0%">
  <thead>
    <tr>
          <th>Owner</th>
          <th>Filename</th>
          <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
          <% if (@file_recs) %>
          <% @file_recs.each do |file| %>
          <% @user = User.find_by_id(file.user_id) %>
          <% if(@image_files.include? file.ftype)%>
          <tr>
            <td><%= @user.first_name + " " +@user.last_name  %></td>
            <td><%= AES.decrypt(file.fname, ENV['encrypt_hash']) %></td>
           <td><%= link_to  fuzzy_audit_path(:file_upload_id => file.id,:user_id => current_user,:search => params[:search], :files => @file_ids), :method => 'post', class: "btn btn-info",:id => '5',:title => 'Request Audit', :rel => 'tooltip' do %><i class="glyphicon glyphicon-saved"></i><% end %></td>
            <td><%= link_to user_file_upload_decrypt_path(current_user,file), class: "btn btn-success" ,:id => '5',:title => 'Download File', :rel => 'tooltip' do%>
             <i class="glyphicon glyphicon-save"></i><%end%></td>
          </tr>
          <% end %>
          <% end %>
          <% end %>
  </tbody>
</table>
</div>
</div>
<div class="tab-pane fade" id="tab3default">
<br><br>
<div class="col-md-10">
<table class = "table table-bordered table-striped" width="0%">
  <thead>
    <tr>
          <th>Owner</th>
          <th>Filename</th>
          <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody> <% if (@file_recs) %>
          <% @file_recs.each do |file| %>
          <% @user = User.find_by_id(file.user_id) %>
          <% if(@presentation_files.include? file.ftype)%>
          <tr>
            <td><%= @user.first_name + " " +@user.last_name  %></td>
            <td><%= AES.decrypt(file.fname, ENV['encrypt_hash']) %></td>
            <td><%= link_to  fuzzy_audit_path(:file_upload_id => file.id,:user_id => current_user,:search => params[:search], :files => @file_ids), :method => 'post', class: "btn btn-info",:id => '5',:title => 'Request Audit', :rel => 'tooltip' do %><i class="glyphicon glyphicon-saved"></i><% end %></td>
            <td><%= link_to user_file_upload_decrypt_path(current_user,file), class: "btn btn-success" ,:id => '5',:title => 'Download File', :rel => 'tooltip' do%>
             <i class="glyphicon glyphicon-save"></i><%end%></td>
          </tr>        
          <% end %>
        <% end %>
        <% end %>
  </tbody>
</table>
</div>
</div>
<div class="tab-pane fade" id="tab4default">
<%@file_recs=@file_recs.reverse%>
<br><br>
<div class="col-md-10">
<table class = "table table-bordered table-striped" width="0%">
  <thead>
    <tr>
          <th>Owner</th>
          <th>Filename</th>
          <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody> <% if (@file_recs) %>
          <% @file_recs.each do |file| %>
          <% @user = User.find_by_id(file.user_id) %>
          <% if(@office_files.include? file.ftype)%>
          <tr>
            <td><%= @user.first_name + " " +@user.last_name  %></td>
            <td><%= AES.decrypt(file.fname, ENV['encrypt_hash']) %></td>
            <td><%= link_to  fuzzy_audit_path(:file_upload_id => file.id,:user_id => current_user,:search => params[:search], :files => @file_ids), :method => 'post', class: "btn btn-info",:id => '5',:title => 'Request Audit', :rel => 'tooltip' do %><i class="glyphicon glyphicon-saved"></i><% end %></td>
            <td><%= link_to user_file_upload_decrypt_path(current_user,file), class: "btn btn-success" ,:id => '5',:title => 'Download File', :rel => 'tooltip' do%>
             <i class="glyphicon glyphicon-save"></i><%end%></td>
          </tr>        
          <% end %>
        <% end %>
        <% end %>
  </tbody>
</table>
</div>
</div>
<div class="tab-pane fade" id="tab5default">
<br><br>
<div class="col-md-10">
<table class = "table table-bordered table-striped" width="0%">
  <thead>
    <tr>
          <th>Owner</th>
          <th>Filename</th>
          <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
          <% if (@file_recs) %>
          <% @file_recs.each do |file| %>
          <% @user = User.find_by_id(file.user_id) %>
          <% if(@video_files.include? file.ftype)%>
          <tr>
            <td><%= @user.first_name + " " +@user.last_name  %></td>
            <td><%= AES.decrypt(file.fname, ENV['encrypt_hash']) %></td>
            <td><%= link_to  fuzzy_audit_path(:file_upload_id => file.id,:user_id => current_user,:search => params[:search], :files => @file_ids), :method => 'post', class: "btn btn-info",:id => '5',:title => 'Request Audit', :rel => 'tooltip' do %><i class="glyphicon glyphicon-saved"></i><% end %></td>
            <td><%= link_to user_file_upload_decrypt_path(current_user,file), class: "btn btn-success" ,:id => '5',:title => 'Download File', :rel => 'tooltip' do%>
             <i class="glyphicon glyphicon-save"></i><%end%></td>
          </tr>        
          <% end %>
        <% end %>
        <% end %>

  </tbody>
</table>
</div>
</div>

<div class="tab-pane fade" id="tab6default">
<br><br>
<div class="col-md-10">
<table class = "table table-bordered table-striped" width="0%">
  <thead>
    <tr>
          <th>Owner</th>
          <th>Filename</th>
          <th>Filetype</th>
          <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody> <% if (@file_recs) %>
          <% @file_recs.each do |file| %>
          <% @user = User.find_by_id(file.user_id) %>
          <% if(!(@video_files.include? file.ftype) and !(@office_files.include? file.ftype) and !(@image_files.include? file.ftype) and !(@presentation_files.include? file.ftype)and !(file.ftype == "pdf") )%>
          <tr>
            <td><%= @user.first_name + " " +@user.last_name  %></td>
            <td><%= AES.decrypt(file.fname, ENV['encrypt_hash']) %></td>
            <td><%= file.ftype%></td>
            <td><%= link_to  fuzzy_audit_path(:file_upload_id => file.id,:user_id => current_user,:search => params[:search], :files => @file_ids), :method => 'post', class: "btn btn-info",:id => '5',:title => 'Request Audit', :rel => 'tooltip' do %><i class="glyphicon glyphicon-saved"></i><% end %></td>
            <td><%= link_to user_file_upload_decrypt_path(current_user,file), class: "btn btn-success" ,:id => '5',:title => 'Download File', :rel => 'tooltip' do%>
             <i class="glyphicon glyphicon-save"></i><%end%></td>
          </tr>        
          <% end %>
        <% end %>
        <% end %>
  </tbody>
</table>
</div>
</div>
</div>
</div>
<%else%><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sorry we could not find files matching your query &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag("shake-head.gif") %></h4>
<%end%>
</div>
</body>
</html>