<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="bootstrap.css">
		<link rel="stylesheet" href="control_panel.scss">
		
		<TITLE>Admin</TITLE>

	</head>
	<body>
	<center>
		<h1>Wecome Admin!</h1>
	</center>


	<div class="row ">
		<div class="col-xs-12 col-sm-6 col-md-8">
        <br><br>
		</div>							
	</div>
	<div class="row">
		<br>
		<%= render 'sidebar' %>
		<div class="col-md-9 col-sm-9 col-lg-9">
		<div class="well">
  		<h1 class="page-header">
                            Dashboard<small>Statistics Overview</small>
        </h1>
  		
		</div>
		</div>
        <div class="col-md-9 col-sm-9 col-lg-9">
        <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%= @message_count %></div>
                                        <% if !(@message_count==1) %> 
                                        <div>New Messages!</div>
                                        <% else %>
                                        <div>New message!</div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <%= link_to 'View Details', blit_tpa_csp_inbox_control_panel_path,class: "btn btn-defult" %>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%= @user_count %></div>
                                        <% if !(@user_count==1) %> 
                                        <div>Users!</div>
                                        <% else %>
                                        <div>User!</div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <%= link_to 'View Details', user_control_panel_path,class: "btn btn-defult" %>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>


                   <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%= @file_count %></div>
                                        <% if !(@file_count==1) %> 
                                        <div>Files in All</div>
                                        <% else %>
                                        <div>File in All</div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <%= link_to 'View Details', file_control_panel_path,class: "btn btn-defult" %>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%= @count %></div>
                                        <% if !(@count==1) %> 
                                            <div>User Online</div>
                                        <% else %>
                                        <div>Users Online</div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <%= link_to 'View Details', list_online_users_control_panel_path,class: "btn btn-defult" %>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                </div>
        </div>
        </div>
        </div>
        </div>
        </div>
</body>
</html>
